*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  outline: none;
}
body{
  width: 100%;
  height: 100vh;
  background-position: center;
  overflow-y: auto;
  background-size: cover;
  background-repeat: no-repeat;
   background-image: url('./images/pngtree-emoji-of-social-media-or-chat-application-network-emoticon-background-image_985694.jpg');
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.chatEngine{
  background: url("./images/pngtree-emoji-of-social-media-or-chat-application-network-emoticon-background-image_985694.jpg");
}